header{
    font-size: 40px;
    background-color: blue;
}

input[type=text] {
    width: 50%;
    padding: 12px 5px;
    margin: 8px 60;
    box-sizing: border-box;
    border: 1px solid #555;
    outline: none;
  }
  